{{ define "main" }}
<article id="Article" class="page sans">
    <header style="width: 400px !important; height: 100px !important">
        <h1 class="page-title" style="width: 1200px !important">{{ .Title }}</h1>
    </header>
    <div class="page-body" style="width: 1000px !important">
        {{ if .Content }}
            {{ .Content }}
        {{ end }}
        
        <ul class="taxonomy-list">
        {{ range .Data.Terms.Alphabetical }}
            <li class="taxonomy-item">
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </li>
        {{ end }}
        </ul>
    </div>
</article>
{{ end }}