<!-- TABLE HEADER -->
<thead>
    <!-- FIRST ROW -->
    <tr>
        <th rowspan="2" style="min-width: 166px !important">LIBRARY</th>
        <th rowspan="2" style="min-width: 121px !important">LANGUAGE</th>
        <th rowspan="2" style="min-width: 129px !important">LICENSE</th>
        <th rowspan="2" style="min-width: 14em">REPOSITORY</th>
        <th rowspan="2" style="min-width: 120px !important">RELEASE</th>
        <th rowspan="2" style="min-width: 120px !important">INSTALLATION</th>
        <th rowspan="2" style="min-width: 14.5em">DEVELOPERS & FUNDING</th>
        <th rowspan="2" style="min-width: 6.5em">DOCUMENTATION</th>
        <th rowspan="2" style="min-width: 175px !important">
            COMMUNITY SUPPORT
        </th>
        <th rowspan="2" style="">FRAMEWORK</th>
        <th rowspan="2" style="text-align: center; min-width: 75px !important">
            GPU
        </th>
        <th colspan="2" style="text-align: center">SOLVERS</th>
        <th rowspan="2" style="min-width: 122px !important; text-align: center">
            TREND TYPES
        </th>
        <th colspan="4" style="text-align: center">
            KERNEL &nbsp \( R(x,x';\theta) \)
        </th>
        <th colspan="3" style="text-align: center">LIKELIHOOD</th>
        <th rowspan="2" style="text-align: center">ESTIMATION METHODS</th>
        <!-- <th colspan="3" style="min-width: 14.5em; text-align: center">
            OPTIMIZATION METHODS
        </th> -->
        <th rowspan="2" style="min-width: 14.5em; text-align: center">
            OPTIMIZATION METHODS
        </th>
        <th rowspan="2" style="min-width: 6.5em; text-align: center">
            RESAMPLING
        </th>
        <th rowspan="2" style="min-width: 6.5em; text-align: center">
            METRICS
        </th>
    </tr>
    <!-- SECOND ROW -->
    <tr class="second-row">
        <th style="text-align: center">MODELS</th>
        <th style="\">COMPLEXITY</th>
        <th style="min-width: 120px !important">LENGTH SCALE</th>
        <th style="min-width: 190px !important">CORRELATION FAMILIES</th>
        <th style="">MIXTURE</th>
        <th style="min-width: 140px !important">MIXTURE MODEL</th>
        <th style="min-width: 9.5em; text-align: center">TYPE</th>
        <th style="min-width: 9.5em; text-align: center">NUGGET</th>
        <th style="min-width: 11.5em">NOISE VARIANCE \( \sigma^2 \)</th>
        <!-- <th style="min-width: 9.5em">ALGORITHMS</th>
        <th style="min-width: 9.5em">N. RESTARTS</th> -->
    </tr>
</thead>
